.block.horizontal-padding-25
  .block__menu
    会員情報入力
  .block
    = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
      .input-field
        .input-field-main
          = f.label :nickname, "ニックネーム"
          %span.required-true
            必須
          %br
          = f.text_field :nickname, required: true, placeholder: "例）メルカリ太郎"
      .input-field
        .input-field-main
          = f.label :email, "メールアドレス"
          %span.required-true
            必須
          %br
          = f.text_field :email, required: true, placeholder: "PC・携帯どちらも可"
      -# SNS認証の時はパスワード入力欄を消す
      - unless @sns_auth
        .input-field
          .input-field-main
            = f.label :password, "パスワード"
            %span.required-true
              必須
            %br
            = f.password_field :password, required: true, placeholder: "アルファベットと数字を含む8〜128字"  ## 変更
        .input-field
          .input-field-main
            = f.label :password_confirmation, "パスワード（確認）"
            %span.required-true
              必須
            %br
            = f.password_field :password_confirmation, required: true, placeholder: "アルファベットと数字を含む8〜128字"  ## 変更
      .information
        .input-field-main
          .information__title
            本人確認
          .information__text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .input-field
        .input-field-main
          = f.label :last_name, "お名前（全角）"
          %span.required-true
            必須
          .input-field-multiple
            = f.text_field :last_name, required: true, placeholder: "例）山田"
            = f.text_field :first_name, required: true, placeholder: "例）彩"
      .input-field
        .input-field-main
          = f.label :last_name_reading, "お名前カナ（全角）"
          %span.required-true
            必須
          .input-field-multiple
            = f.text_field :last_name_reading, required: true, placeholder: "例）ヤマダ"
            = f.text_field :first_name_reading, required: true, placeholder: "例）アヤ"
      .input-field
        .input-field-main
          = f.label :birthday, "生年月日"
          %span.required-true
            必須
          .input-field-multiple
            = raw sprintf(f.date_select(:birthday,{ start_year: Date.today.year, end_year: Date.today.year-120,
          prompt:"--", use_month_numbers: true, with_css_classes: true,discard_minute:true,
          date_separator: '%s', datetime_separator: '%s'}, {required: true}), '<div class="input-field-multiple__separate-text">年</div>', '<div class="input-field-multiple__separate-text">月</div>') +'<div class="input-field-multiple__separate-text">日</div>'
      .information
        .information__text
          .information__text--gray
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .information
        .information__text
          「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
      = recaptcha_tags
      = f.submit "次へ進む", class:"button back-red font-white"
      %br
      本人情報の登録について＞
