.block.horizontal-padding-25
  .block__menu
    会員情報入力
  .block
    = form_with id: 'new_user', class: 'new_user', local: true do |f|
      .input-field
        .input-field-main
          = f.label :hoge, "ニックネーム"
          %span.required-true
            必須
          %br
          = f.text_field :hoge, required: true, placeholder: "例）メルカリ太郎"
      .input-field
        .input-field-main
          = f.label :hoge, "メールアドレス"
          %span.required-true
            必須
          %br
          = f.text_field :hoge, required: true, placeholder: "PC・携帯どちらも可"
      -# SNS認証の時はパスワード入力欄を消す
      - if true
        .input-field
          .input-field-main
            = f.label :hoge, "パスワード"
            %span.required-true
              必須
            %br
            = f.password_field :hoge, required: true, placeholder: "6文字以上"
        .input-field
          .input-field-main
            = f.label :hoge, "パスワード（確認）"
            %span.required-true
              必須
            %br
            = f.password_field :hoge, required: true, placeholder: "6文字以上"
      .information
        .input-field-main
          .information__title
            本人確認
          .information__text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .input-field
        .input-field-main
          = f.label :hoge, "お名前（全角）"
          %span.required-true
            必須
          .input-field-multiple
            = f.text_field :hoge, required: true, placeholder: "例）山田"
            = f.text_field :hoge, required: true, placeholder: "例）彩"
      .input-field
        .input-field-main
          = f.label :hoge, "お名前カナ（全角）"
          %span.required-true
            必須
          .input-field-multiple
            = f.text_field :hoge, required: true, placeholder: "例）ヤマダ"
            = f.text_field :hoge, required: true, placeholder: "例）アヤ"
      .input-field
        .input-field-main
          = f.label :birthday, "生年月日"
          %span.required-true
            必須
          .input-field-multiple
            = raw sprintf(f.date_select(:birthday,{ start_year: Date.today.year, end_year: Date.today.year-120,
          prompt:"--", use_month_numbers: true, with_css_classes: true,discard_minute:true,
          date_separator: '%s', datetime_separator: '%s'}, {required: true}), '<div class="input-field-multiple__separate-text">年</div>', '<div class="input-field-multiple__separate-text">月</div>') +'<div class="input-field-multiple__separate-text">日</div>'
      .information
        .information__text
          .information__text--gray
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .information
        .information__text
          「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
      -# recaptcha実装時にここへrecaptcha_tagsを入れる
      = f.submit "次へ進む", class:"button back-red font-white"
      %br
      本人情報の登録について＞
