.block
  .block__menu
    商品の情報を入力
= form_with model: @item, local: true, html: {id: "item_form"} do |f|
  .block.horizontal-padding-5
    .input-field
      .input-field-main
        = f.label :detail, "出品画像"
        %span.required-true
          必須
        %br
        最大5枚までアップロードできます。
        #selected-item-images
          -# 商品編集の際はプレビューを表示
          - @item.images.each_with_index do |image, i|
            -if image.persisted?
              .item-image{data: {index: i}}
                = image_tag image.src.url, class: "item-image__image"
                .item-image__buttons
                  .item-image__buttons--edit
                    編集
                  .item-image__buttons--delete
                    削除
          #select-image-button
            #select-image-button__text
              クリックしてファイルをアップロード
    #image-file-fields
      = f.fields_for :images do |image|
        = image.file_field :src, accept: "image/*", class: "new-item-image", data: {index: image.index}
        - if image.object.persisted?
          = image.check_box :_destroy, include_hidden: false
    .error-field{data:{column_name: "item_images"}}
  .block.horizontal-padding-5
    .input-field
      .input-field-main
        = f.label :name, "商品名"
        %span.required-true
          必須
        %br
        = f.text_field :name, required: true, placeholder: "PC・携帯どちらも可"
        .error-field{data:{column_name: "name"}}
    .input-field
      .input-field-main
        = f.label :detail, "商品の説明"
        %span.required-true
          必須
        %br
        = f.text_area :detail, required: true, placeholder: "6文字以上", rows: 5
        .error-field{data:{column_name: "detail"}}
  .block.horizontal-padding-5
    .input-field
      .input-field-title
        .input-field-title__text
          商品の詳細
      .input-field-main
        = f.label :category_id, "カテゴリ"
        %span.required-true
          必須
        = f.collection_select :category_id, Category.all, :id, :name, {include_blank: "---"}, required: true, class: "select-category", id: "parent-category"
        .error-field{data:{column_name: "category"}}
        = f.label :condition, "商品の状態"
        %span.required-true
          必須
        %br
        = f.select :condition, Item.conditions.keys, {include_blank: "---"}
  .block.horizontal-padding-5
    .input-field
      .input-field-title
        .input-field-title__text
          配送について
      .input-field-main
        = f.label :delivery_fee_payer, "配送料の負担"
        %span.required-true
          必須
        %br
        = f.select :delivery_fee_payer, Item.delivery_fee_payers.keys, {include_blank: "---"}
        .error-field{data:{column_name: "delivery_fee_payer"}}
        %br
        .input-field-main__delivery-method
          = f.label :delivery_method, "配送の方法"
          %span.required-true
            必須
          %br
          = f.select :delivery_method, Item.delivery_methods.keys, {include_blank: "---"}
          %br
          .error-field{data:{column_name: "delivery_method"}}
        = f.label :prefecture_id, "発送元の地域"
        %span.required-true
          必須
        %br
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, required: true, placeholder: "発送元の地域"
        .error-field{data:{column_name: "prefecture_id"}}
        %br
        = f.label :delivery_days, "発送までの日数"
        %span.required-true
          必須
        %br
        = f.select :delivery_days, Item.delivery_days.keys, {include_blank: "---"}
        .error-field{data:{column_name: "delivery_days"}}
  .block.horizontal-padding-5
    .input-field
      .input-field-title
        .input-field-title__text
          価格（300〜9,999,999）
      .input-field-main
        .input-field-main-price
          .input-field-main-price__left
            = f.label :price, "価格"
            %span.required-true
              必須
          .input-field-main-price__right
            = f.text_field :price, required: true, placeholder: "価格"
            .error-field{data:{column_name: "price"}}
        %hr
        .input-field-main-price
          .input-field-main-price__left
            販売手数料（10%）
          .input-field-main-price__right
            #fee
        %hr
        .input-field-main-price
          .input-field-main-price__left
            販売利益
          .input-field-main-price__right
            #profit
  .block.horizontal-padding-5
    .information
      .information__text
        禁止されている出品、行為を必ずご確認ください。
        %br
        またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
        %br
        また、出品をもちまして加盟店規約に同意したことになります。
  .block.horizontal-padding-5
    = f.submit "出品する", class:"button back-red font-white"
    - if action_name == 'edit'
      = link_to item_path(@item), method: :delete do
        .button.back-gray
          商品を削除する
      .horizontal-padding-25
        = link_to "" do
          .button.back-gray
            戻る
%script{ src: "https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.3.1/fuse.min.js" }
