= link_to item_path(item), data:{turbolinks: false}  do
  .item
    - if item.deal != "販売中"
      = render partial: 'shared/sold_out'
    .item-top
      = image_tag item.images.first&.src&.url, class: "item-top__image"
      .item-top__price
        ¥#{item.price}
    .item-bottom
      .item-bottom__name
        = item.name
      .item-bottom-price-good
        .item-bottom-price-good__price
        = icon "fas", "heart", class:"item-bottom-price-good__good"
