.campaigns
  .campaigns-app
    .index-campaign.horizontal-padding-15
      = image_tag 'campaign_bg.jpg', class: "campaign_bg"
      .index-campaign__left.index-campaign__banner-inside-parts
        %p.index-campaign__left-top
          スマホでカンタン
          %br
          フリマアプリ
        %p.index-campaign__left-bottom
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        = image_tag 'app-store.svg', class: "index-campaign__banner-inside-parts"
        = image_tag 'google-play.svg', class: "index-campaign__banner-inside-parts"
      = image_tag 'campaign_bg_phone.png', class: "index-campaign__phone index-campaign__banner-inside-parts"
  .campaigns-camp
    .index-campaign.horizontal-padding-15
      = image_tag 'banner-camp.jpg', class: "campaign_bg"
.pickups-header
  人気のカテゴリー
  .pickups-header__category-names
    = link_to category_path(@ladies_category) do
      .pickups-header__category-names--category-name
        = @ladies_category.name
    = link_to category_path(@mens_category) do
      .pickups-header__category-names--category-name
        = @mens_category.name
    = link_to category_path(@kids_category) do
      .pickups-header__category-names--category-name
        = @kids_category.name
.pickups.horizontal-padding-15
  %br
  .pickup
    %span.pickup__name
      = @ladies_category.name
      新着アイテム
    = link_to category_path(@ladies_category) do
      %span.pickup__display-all
        もっと見る >
    .pickup__items
      = render @ladies_items
  .pickup
    %span.pickup__name
      = @mens_category.name
      新着アイテム
    = link_to category_path(@mens_category) do
      %span.pickup__display-all
        もっと見る >
    .pickup__items
      = render @mens_items
  .pickup
    %span.pickup__name
      = @ladies_category.name
      新着アイテム
    = link_to category_path(@kids_category) do
      %span.pickup__display-all
        もっと見る >
    .pickup__items
      = render @kids_items
