.block.horizontal-padding-25
  .block__menu
    = @item.name
  .item-show
    - if @item.deal != "販売中"
      = render partial: 'shared/sold_out', locals:{item: @item}
    .item-show__images-data
      .item-images
        .item-images__main
          .item-images__main-images
            - @item.images.each_with_index do |image, i|
              = image_tag image.src.url, data: {big_image_index: i}
        .item-images__mini-images
          - @item.images.each_with_index do |image, i|
            = image_tag image.src.url, data: {mini_image_index: i}
      %table.item-data
        %tr.item-data__row
          %th.item-data__row--title
            出品者
          %td.item-data__row--value
            = @item.seller.nickname
        %tr.item-data__row
          %th.item-data__row--title
            カテゴリ
          %td.item-data__row--value
            = link_to "hoge", ""
            %br
            = link_to ">hoge", ""
            %br
            = link_to ">#{@item.category.name}", ""
        %tr.item-data__row
          %th.item-data__row--title
            商品の状態
          %td.item-data__row--value
            = @item.condition
        %tr.item-data__row
          %th.item-data__row--title
            配送料の負担
          %td.item-data__row--value
            = @item.delivery_fee_payer
        %tr.item-data__row
          %th.item-data__row--title
            配送の方法
          %td.item-data__row--value
            = @item.delivery_method
        %tr.item-data__row
          %th.item-data__row--title
            配送元地域
          %td.item-data__row--value
            = @item.prefecture.name
        %tr.item-data__row
          %th.item-data__row--title
            発送日の目安
          %td.item-data__row--value
            = @item.delivery_days
    .item-show__price
      .item-show__price--left
        ¥#{@item.price}
      .item-show__price--middle
        （税込）
      .item-show__price--right
        送料込み
    - if @item.seller != current_user
      = link_to "" do
        .button.back-red
          購入画面に進む
    - if @item.seller == current_user
      = link_to edit_item_path(@item) do
        .button.back-gray
          商品を編集する
    .item-show__detail
      = @item.detail
