.block.horizontal-padding-25
  .block__menu
    = @item&.name
  .item-show
    = render partial: 'shared/sold_out', locals:{item: @item}
    .item-show__images-data
      .item-images
        .item-images__main
          .item-images__main-images
            = image_tag "", data: {big_image_index: 0}
        .item-images__mini-images
          = image_tag "", data: {mini_image_index: 0}
      %table.item-data
        %tr.item-data__row
          %th.item-data__row--title
            出品者
          %td.item-data__row--value
            hoge
        %tr.item-data__row
          %th.item-data__row--title
            カテゴリ
          %td.item-data__row--value
            = link_to "hoge", ""
            %br
            = link_to ">hoge", ""
            %br
            = link_to ">hoge", ""
        %tr.item-data__row
          %th.item-data__row--title
            商品の状態
          %td.item-data__row--value
            hoge
        %tr.item-data__row
          %th.item-data__row--title
            配送料の負担
          %td.item-data__row--value
            hoge
        %tr.item-data__row
          %th.item-data__row--title
            配送の方法
          %td.item-data__row--value
            hoge
        %tr.item-data__row
          %th.item-data__row--title
            配送元地域
          %td.item-data__row--value
            hoge
        %tr.item-data__row
          %th.item-data__row--title
            発送日の目安
          %td.item-data__row--value
            hoge
    .item-show__price
      .item-show__price--left
        ¥1000
      .item-show__price--middle
        （税込）
      .item-show__price--right
        送料込み
    = link_to "" do
      .button.back-red
        購入画面に進む
    = link_to "" do
      .button.back-gray
        商品を編集する
    .item-show__detail
      hoge
