.mypage.horizontal-padding-15
  = render 'shared/side_bar'
  .mypage-main
    .block
      .block__menu
        支払い方法
    .block
      .block__menu
        クレジットカード一覧
      -# ログイン中のユーザーがカード登録済みなら
      -if false
        .block__main
          .card-show.horizontal-padding-25
            .card-show__data
              = image_tag 'icon_visa.png'
              = @card[:last4]
              %br
              = @card[:exp_month]
              \/
              = @card[:exp_year]
              %br
              = @card[:brand]
            =link_to "削除する", "", method: :delete, class: "delete-button"
      - else
        .block__main.horizontal-padding-25
          = link_to "", data: {turbolinks: false} do
            .button.regist-card
              = icon "far", "credit-card"
              %span.button__text
                新規登録
    .block
      .block__main
        = link_to "支払い方法について >", "#"
