.parent-categories.horizontal-padding-25
  .parent-categories__title
    カテゴリー一覧
  - Category.roots.each do |category|
    %span.parent-categories__category
      = link_to "" do
        = category.name
- Category.roots.each do |parent_category|
  .categories.horizontal-padding-25
    .parent-category
      = link_to "" do
        = parent_category.name
    - parent_category.get_children.each do |child_category|
      .child-category
        = child_category.name
        .child-category__grand-child-categories
          = link_to "", class: "child-category__grand-child-categories--category" do
            すべて
          - child_category.get_children.each do |grandchild_category|
            = link_to grandchild_category.name, "", class: "child-category__grand-child-categories--category"
